<header>
  <div class="header-logo">
    共有くん
  </div>
  <ul class="header-menus">
    <li>共有くんとは？</li>
  </ul>
</header>

<div class ="main">
  <h1>共有くんとは？</h1>
  <p>離席情報などを共有して業務効率化を目指すwebアプリです。</p>
</div>