<div class ="top-main">
  <h2>共有くん</h2>
</div>

<div class ="top-login">
  <a href="/login">ログイン</a>
</div>

<div class ="top-registration">
  <a href="/signup">新規登録</a>
</div>

<div class ="top-about">
  <a href="/about">共有くんとは</a>
</div>