<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <%= @user.name , post.content %>
      </div>
    <% end %>
  </div>
</div>