<div class="main posts-index">
  <div class="container">
    <% if @posts %>
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <%= post.user.name %>
        <%= post.content %>
      </div>
    <% end %>
    <% else %>
      <div class="button-error">
        <%= @error_message %>
      </div>
    <% end %>
  </div>
</div>
